// Colors
$blue: #29a1ff;
$green: #00e091;
$grey: #c1cbd5;

$red: #ff1177;
$yellow: #ffdd1b;

$highlight: $blue;
$offBlack: #0f0f32;
$offWhite: #f5faff;
$stroke: $grey;
$success: $green;
$error: $red;
// $warning: $yellow;

$borderRadius: 4px;

// Spacing
$size1: 8px;
$size2: 16px;
$size3: 24px;
$size4: 32px;
$size5: 48px;
$size6: 64px;

// Breakpoints
$sm: 37.5em;
$md: 50em;
$lg: 64em;
$xl: 70em;
